#messages {
	text-align: left;
	margin-left: 0.5%;
	font-family: 'Trebuchet MS', Verdana;
	font-size: 14px;
	background-color: aqua;
	background-size: small;
	letter-spacing: 4px;
	line-height: 1.5em;
}
